<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net40-Client" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net40-Client" />
  <package id="Nancy" version="0.17.1" targetFramework="net40-Client" />
  <package id="Nancy.Hosting.Self" version="0.17.1" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40-Client" />
  <package id="RestSharp" version="103.4" targetFramework="net40-Client" />
  <package id="SlowCheetah" version="2.5.5" targetFramework="net40-Client" />
  <package id="VisualStudioGitIgnore" version="1.3.0.0" targetFramework="net40-Client" />
</packages>